.Toolbox {
  overflow-y: auto;
  overflow-x: hidden;
}

.logo {
  background-image: '../public/logo192.png';
  width: 64px;
  height: 64px;
  margin-left: auto;
  display: block;
  margin-right: auto;
  margin-bottom: 10px;
}

.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contract-menu {
  display: inline;
}

.params {
  margin-top: 10px;
}

.input-group-text {
  min-width: 100px;
}

.buttons button {
  margin-bottom: 5px;
  width: 160px;
}

.bi {
  margin-right: 5px;
}
